.tinderCards{
    .tinderCards__cardContainer{
        display: flex;
        justify-content: center;
       margin-top: 4vh;
    }  
    .swipe{
        position: absolute;   
.card{
   position: relative;
    width: 600px;
    max-width: 85vw;
    height: 60vh;
    background-color: white;
    background-size: cover;
    background-position:center;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);        
          }
            h3{
                position: absolute;
                bottom: 0px;
                padding:20px;
                color: whitesmoke;
            }
            
        }
    }

